
.contactComponent{
  max-width: 1024px;
  width: 100%;
  margin: auto;
  margin-bottom: 150px;
}

.contactComponent .contact-main-headings{
  gap: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.contactComponent .contact-main-headings h2{
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  color: #282938;
}

.contactComponent .contact-main-headings h1{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

.contactComponent .contact-main-headings p{
  font-size: 24px;
  margin: 0;
  color: #1C1E53;
}

.contactComponent .contact-inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1224px;
  width: 100%;
  row-gap: 32px;
  column-gap: 32px;
}


.contactComponent .contact-inputs .input-one form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactComponent .contact-inputs form label{
  font-size: 19px;
}

.contactComponent .contact-inputs .inpOne input{
  width: 100%;
  height: 64px;
  border-radius: 8px;
  outline: none;
  padding-left: 15px;
  font-size: 19px;
  border: 2px solid #5E3BEE;
}

.contactComponent .contact-inputs .inpTwo input{
  width: 100%;
  height: 64px;
  border-radius: 8px;
  outline: none;
  padding-left: 15px;
  font-size: 19px;
  border: 2px solid #5E3BEE;
}

.contactComponent .contact-inputs .inpThree input{
  width: 100%;
  height: 64px;
  border-radius: 8px;
  outline: none;
  padding-left: 15px;
  font-size: 19px;
  border: 2px solid #5E3BEE;
}

.contactComponent .contact-inputs .inpFour input{
  width: 100%;
  height: 64px;
  border-radius: 8px;
  outline: none;
  padding-left: 15px;
  font-size: 19px;
  border: 2px solid #5E3BEE;
}


.contactComponent .bottom-inputs .inpFive select{
  width: 100%;
    height: 64px;
    border-radius: 8px;
    outline: none;
    padding-left: 15px;
    font-size: 19px;
    border: 2px solid #5E3BEE;
    padding-right: 100px;
}

.contactComponent .bottom-inputs .input-one form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactComponent .bottom-inputs form label {
  font-size: 19px;
  margin-top: 32px;
}

.contactComponent .bottom-inputs .inpSix input{
  width: 100%;
    height: 240px;
    border-radius: 8px;
    outline: none;
    padding-left: 15px;
    font-size: 19px;
    border: 2px solid #5E3BEE;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 160px;
}

.contactComponent .bottom-inputs .final-inp{
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactComponent .bottom-inputs .final-inp input{
  width: 21px;
  height: 21px;
}

.contactComponent .bottom-inputs .final-inp p{
  font-size: 18px;
  line-height: 150%;
}

.contactComponent .bottom-inputs .final-btn{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.contactComponent .bottom-inputs .final-btn button{
  max-width: 171px;
  width: 100%;
  max-height: 70px;
  height: 100vh;
  font-size: 21px;
  line-height: 150%;
  background-color: #5E3BEE;
  border-radius: 8px;
  outline: none;
  border: #5E3BEE;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease;
}

.contactComponent .bottom-inputs .final-btn button:hover{
  background-color: #fff;
  color: #5E3BEE;
  border: solid 1px #5E3BEE;
}


@media only screen and (max-width: 960px){
.contactComponent{
  padding-left: 20px;
  padding-right: 20px;
}
}

@media only screen and (max-width: 775px){
  .contactComponent .contact-main-headings h1{
    font-size: 50px;
  }
}


@media only screen and (max-width: 530px){
 .contactComponent .contact-main-headings h2{
font-size: 20px;
 }

 .contactComponent .contact-main-headings h1{
  font-size: 40px;
 }

}
